@import "util/util";

@include font-face('SourceSans3-Regular', 'Source Sans 3');
@include font-face('SourceSans3-Italic', 'Source Sans 3', $style: italic);
@include font-face('SourceSans3-Black', 'Source Sans 3', $weight: 900);
@include font-face('SourceSans3-BlackItalic', 'Source Sans 3', $style: italic, $weight: 900);

$foundation-palette: (
  primary: #007a76,
  secondary: #c5f4f2,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$body-font-family: 'Source Sans 3', sans-serif;