@import "util/util";

@include font-face('IMFellDWPica-Regular', 'IM Fell DW Pica');
@include font-face('IMFellDWPica-Italic', 'IM Fell DW Pica', $style: italic);
@include font-face('IMFellEnglishSC-Regular', 'IM Fell English SC');
@include font-face('Lusitana-Regular', 'Lusitana');
@include font-face('Lusitana-Bold', 'Lusitana', $weight: 700);

$brown: #520603;
$red: #b71811;
$gold: #e8bf00;
$foundation-palette: (
  primary: $red,
  secondary: $gold,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$body-font-color: $brown;
$body-font-family: 'Lusitana', serif;