@import "util/util";

@include font-face('EBGaramond-Regular', 'EB Garamond');
@include font-face('EBGaramond-Italic', 'EB Garamond', $style: italic);
@include font-face('EBGaramond-Bold', 'EB Garamond', $weight: 700);
@include font-face('EBGaramond-BoldItalic', 'EB Garamond', $style: italic, $weight: 700);
@include font-face('PlayfairDisplay-Regular', 'Playfair Display');
@include font-face('PlayfairDisplay-Italic', 'Playfair Display', $style: italic);

$foundation-palette: (
  primary: #ffcc00,
  secondary: #eaeaea,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$global-font-size: 18px;
$body-font-family: 'EB Garamond', serif;