//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global

// 1. Global
// ---------

html {
  overflow-x: hidden;
}

a:link,
a:visited {
  color: #000;
  font-weight: 700;
}

a:active,
a:hover {
  color: $secondary-color;
}

.label {
  background-color: $light-gray;
  color: #000;
}

// #. Forms
// --------

button,
.button {
  color: #000;
  font-weight: 700;
  font-family: $header-font-family;
  
  &:hover {
    background-color: $secondary-color;
    color: #fff;
  }
}

// #. Header
// ---------

header {
  border-top: 10px solid $secondary-color;
  padding: $global-padding 0;
}

.top-bar,
.top-bar ul {
  background-color: #fff;
}

.top-bar a {
  font-family: $header-font-family;
  background-color: transparent;
}

.top-bar .menu .active a {
  background-color: transparent;
  color: #000;
  
  &:hover {
    color: $secondary-color;
  }
}

.top-bar .menu .active a:hover:after,
.dropdown.menu > li.is-dropdown-submenu-parent.is-active > a:after {
  border-color: $secondary-color transparent transparent;
}

// #. Page
// -------

#content {
  margin-top: 0;
}

#content .vertical.menu {
  background-color: $primary-color;
}

#content .vertical.menu > li {
  border-bottom: 1px solid #fff;
}

#content .vertical.menu > li a:hover {
  color: #000;
  position: relative;
  
  &:before {
    position: absolute;
    border: inset 8px;
    content: '';
    border-right-width: 0;
    border-left-style: solid;
    border-color: transparent transparent transparent #000;
    left: -.25rem;
    width: 0;
    height: 0;
    display: block;
  }
}

#content p a {
  @include body-link;
}

// #. Single Item
// --------------

#resource-values a.resource-link span {
  @include body-link;
}

#content a.resource-link {
  background-color: transparent;
  
  &:hover {
    background-color: transparent;
  }
}

#item-linked {
  margin-top: 2 * $global-margin;
}

.linked-resource .resource-link img {
  @include thumbnail;
  height: ($paragraph-lineheight * 2rem);
  width: auto;
  margin: 0 $global-margin 0 0;
}

.horse-filters {
  @include xy-cell(2);
  padding-top: $global-padding;
  margin: 0;
}

.horse-filters ul {
  @extend .no-bullet;
}

.horse-filters li {
  padding: $global-padding 0;
  border-bottom: 1px solid $primary-color;
  
  &:last-child {
    border-bottom: transparent;
  }
}

.horse-filters + .resource-list {
  @include xy-cell(10);
}

// #. Timeline
// --------------

.tl-timenav {
  background-color: $primary-color !important;
}

.tl-timemarker.tl-timemarker-active {
  opacity: 1;
}

.tl-timemarker {
  opacity: .5;
}

.mapping-block.timeline {
  width: 100vw;
  transform: translateX(-50%);
  margin-left: 50%;
  overflow-x: hidden;
  display: flex;
  margin-top: (-2 * $global-margin);
  
  .tl-timeline,
  .mapping-map {
    width: 50%;
  }
}

/* .tl-timemarker .tl-timemarker-content-container {
  background-color: #fff;
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline.tl-headline-fadeout::after, .tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline p.tl-headline-fadeout::after {
  background: linear-gradient(to bottom,rgba(255,255,255,0)0,rgba(255, 255, 255,1));
} */