//  Omeka Styles
//  -----------------------------
//
//  Table of Contents:
//  #. Global Styles
//  #. Header
//  #. Resource Browse
//  #. Advanced Search
//  #. Page

// #. Global Styles
// ------------------

[type="submit"], 
[type="button"] {
  @extend .button;
}

.input-group .input-group,
.input-group .button-group,
.input-group select,
.input-group [type="text"] {
  margin-bottom: 0;
}

.field {
  margin-bottom: 2 * $global-margin;
}

select {
  width: auto;  
}

[type="text"]:not(:only-child) {
  width: auto;
}

#content {
  @include xy-grid-container;
  padding: (2 * $global-padding) 0;
  margin: (3 * $global-margin) auto 0;
  
  @include breakpoint(small) {
    padding: 0;
    margin: $global-margin;
  }
}

// #. Header
// ------------------

.top-bar form {
  margin-bottom: 0;
}

.site-title h1 {
  @extend h4;
}

.site-title h1 {
  margin-bottom: 0;
}

.site-title h1 {
  @include breakpoint(small down) {
    font-weight: bold;
  }
}

.site-title img {
  margin: $global-margin 0;
}

.dropdown.menu > li.is-dropdown-submenu-parent.active > a:after {
  border-color: #fff transparent transparent;
  margin-right: .5 * $global-margin;
}

.dropdown.menu > li.is-dropdown-submenu-parent.active > a {
  padding-right: 2 * $global-padding;
}

.dropdown.menu > li.is-dropdown-submenu-parent.active:hover > a {
  background-color: $primary-color;
  color: #fff;
}

.top-bar-right .search {
  margin-left: $global-margin;
}

#offCanvas .search {
  margin: $global-margin;
}

header .top-bar-right,
header .top-bar-left {
  display: flex;
  align-items: center;
}

header .top-bar {
  @include breakpoint(small down) {
    padding: 0;    
  }
}

.title-bar {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  
  button {
    margin: 0 $global-margin 0 0;
    background-color: transparent;
    color: $dark-gray;
  }
}



// #. Footer
// ------------------
footer {
  @include xy-grid-container;
}

// #. Resource Browse
// ------------------

.browse-controls {
  @include xy-grid;
  justify-content: space-between;
  align-items: center;
  margin: 0 (-.5 * $global-margin);
}

.filter {
  display: flex;
  margin-bottom: $global-margin;
}

.filter-label {
  @extend .label;
}

.filter-value {
  @extend .label;
}

.filter-value {
  background: $light-gray;
  color: #000;
}

.resource-list {
  list-style-type: none;
}

.resource-list .item {
  margin: (2 * $global-margin) 0;
  justify-content: flex-end;
}

.resource-list .resource-meta {
  @include xy-cell(9);
}

.omeka-pagination,
.sorting {
  @include xy-cell(4);
}

.omeka-pagination, 
.omeka-pagination form {
  display: flex;
  align-items: center;
}

.omeka-pagination form,
.omeka-pagination .button-group {
  margin-right: $global-margin;
}

.omeka-pagination input {
  margin: 0 $global-margin 0 0;
}

.omeka-pagination .button,
.omeka-pagination .button-group {
  margin-bottom: 0;
}

.sorting {
  display: flex;
}

.sorting select {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

.sorting button {
  margin-bottom: 0;
}

// #. Resource Show
// ------------------

.resource.show .grid-x {
  padding: (2 * $global-padding) 0;
}

.resource.show #resource-values {
  order: 1;
  @include xy-cell(8);
  margin-left: 0;
}

.resource.show .media-embeds {
  order: 2;
  @include xy-cell(4);
  margin-right: 0;
}

.resource.show .media-render > a {
  @include thumbnail;
  margin-bottom: $global-margin;
}

.resource.show .values .resource-link img {
  @include thumbnail;
  height: ($paragraph-lineheight * 2rem);
  width: auto;
  margin: 0 $global-margin 0 0;
}

.resource.show .resource-link {
  margin-bottom: $global-margin;
  display: flex;
  align-items: center;
}

// #. Advanced search
// ------------------

#advanced-search .input-group.value {
  margin-bottom: $global-margin;
}

#advanced-search .query-text {
  margin-right: 5px;
}

#advanced-search [class="field"] {
  @extend .fieldset;
}

#advanced-search .remove-value {
  padding-top: 0;
  padding-bottom: 0;
}

#advanced-search .value > *:not(:last-child) {
  margin-right: 5px;
  margin-left: 0;
}

.field-meta {
  @extend legend;
}

[id^="numeric-"],
[id*="numeric-"] {
  .inputs {
    display: flex;
  }
}

[class^="numeric-"],
[class*="numeric-"] {
  display: flex;
}

// #. Page
// ------------------

.page #content {
  @include xy-grid;
  margin: (3 * $global-margin) auto 0;
}

.blocks {
  width: 100%;
}

.blocks > h2:first-child {
  margin-bottom: (2 * $global-margin);
}

.sub-menu {
  @include xy-cell(3);
}

.sub-menu + .blocks { 
  @include xy-cell(9);
}

.left {
  float: left;
  margin: 0 $global-margin $global-margin 0;
}

.right {
  float: right;
  margin: 0 0 $global-margin $global-margin;
}

.large.file {
  max-width: 40%;
  
  img {
    max-width: 100%;
    height: auto;
  }
}

.attachments .media-render > h3,
.file h3,
.item-showcase h3 {
  font-size: rem-calc(map-deep-get($header-styles, small, h4, font-size));
  margin: $global-margin 0;
}

.item-showcase {
  text-align: center;
}