@charset 'utf-8';

@import 'globals-default';
@import 'settings';

$offcanvas-background: $primary-color;
$topbar-submenu-background: #fff;
$dropdown-menu-item-color-active: $anchor-color;
$label-color-alt: #fff;
$tab-item-font-size: rem-calc(16);
$tab-content-border: transparent;

@import 'foundation-core';
@import 'omeka';

.field-meta label,
.field-meta .label {
    color: $label-color;
}