@charset 'utf-8';

@import 'globals-default';
@import 'globals-humanitiesdc';
@import 'settings';

// Humanities DC Settings

$topbar-background: $primary-color;

@import 'foundation-core';
@import 'omeka';

// Global
// ======

body {
  overflow-x: hidden;
  background-color: $light-blue;
}

#content {
  position: relative;
}

#content:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -9999px;
  right: -9999px;
  background-color: #fff;
  z-index: -1;
}

// Header
// ======

header a {
  color: #fff;
  font-family: $header-font-family;
  
  &:active,
  &:hover {
    color: $yellow;
  }
}

header .button {
  background-color: $light-blue;
}

// Page
// ====

#blocks {
  @include xy-grid;
  
  & > h2:first-child {
    width: 100%;
  }
}

.preview-block .preview-header {
  border-bottom: 1px solid $pink;
}

// Home
// ====

.home #intro {
  font-size: 1.125 * $global-font-size;
  padding: (2 * $global-padding);
  background: center / cover no-repeat url('../img/intro.jpg');
  @include xy-cell(5);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  color: #fff;
  
  .button {
    background-color: $yellow;
    color: $dark-blue;
  }
}

.home .item-showcase {
  @include xy-grid;
  margin-top: $global-margin;
  width: 100%;
}

.home #blocks > .item-showcase:first-child {
  @include xy-cell(auto);
  margin-top: 0;
  
  .item {
    @include xy-cell(full, false, 0);
    margin: 0;
  }
}

.home .item-showcase .item {
  display: flex;
  background-color: $light-blue;
  flex-wrap: wrap;
  margin-bottom: $global-margin;
  position: relative;
  @include xy-cell(6);
  
  & > a {
    width: 100%;
    padding-bottom: 66.66%;
    position: relative;
    overflow: hidden;
  }
  
  img {
    position: absolute;
    left: 0;
    width: 100%;
  }
  
  h3 {
    margin: 0;
    padding: $global-padding (2 * $global-padding);
    text-align: left;
    width: 100%;
  }
  
  .caption {
    @extend .label;
  }
  
  .caption {
    position: absolute;
    top: $global-margin;
    left: $global-margin;
  }
  
  .caption p {
    margin-bottom: 0;
  }
  
  .caption a {
    color: #fff;
  }
}

.home #blocks > h2 {
  @include xy-cell(full);
  border-bottom: 1px solid $pink;
  margin-bottom: 2 * $global-margin;
  padding-bottom: $global-padding;
}


.home .preview-block {
  @include xy-cell(5);
  margin-right: auto;
  margin-bottom: (2 * $global-margin);
}

.home #neighborhood {
  @include xy-cell(6);
  border-left: 5px solid $pink;
  margin-bottom: 2 * $global-padding;
  padding: $global-padding;
  
  h2 a {
    font-weight: 600;
  }
}

.home .resource-grid .resource {
  @include xy-cell(6, false, 0);
}

.home .preview-block h3 {
  @extend .h4;
}

#engage,
#lesson-plans,
#about-dcdcm {
  @include xy-cell(4);
  background-color: $pink;
  padding: $global-padding;
  color: #fff;
  
  h3 {
    font-weight: 600;
  }
  
  &:hover {
    background-color: $light-blue;
  }
}

// Explore
// =======

.explore-map {
  @include xy-cell(7, none);
  margin: 0 $global-margin 0 0;
  background: center / cover no-repeat url('../img/map.jpg');
  padding: 3 * $global-padding;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  h3 {
    margin-top: auto;
    font-weight: 600;
    
    a {
      color: $yellow;
    }
  }
  
  p {
    margin-bottom: auto;
  }
}

.explore-map + .toc-block {
  border: 1px solid $medium-gray;
  @include xy-cell(5);
  background: center / cover no-repeat url('../img/dchp.jpg');
  margin: 0;
  
  .navigation > li > a {
    @extend .h3;
  }
  
  .navigation > li > a {
    color: $yellow;
    font-weight: 600;
  }
  
  .navigation ul {
    columns: 2;
    margin-left: 0;
    display: block;
  }
  
  a {
    color: #fff;
  }
}

.explore-all {
  width: 100%;
  padding: 2 * $global-padding;
  background-color: $pink;
  text-align: center;
  margin-top: $global-margin;
  
  h3 {
    margin-bottom: 0;
    color: #fff;
    
    a {
      color: $dark-blue;
      
      &:hover {
        color: $yellow;
      }
    }
  }
}