@charset 'utf-8';

@import 'globals-default';
@import 'globals-openair';
@import 'settings';
@import url('https://rsms.me/inter/inter.css');

:root { 
    font-family: 'Inter', sans-serif; 
    --border-color: #9d9d9d;
    --text-on-primary: #fff;
}

@supports (font-variation-settings: normal) {
    :root { 
        font-family: 'Inter var', sans-serif; 
    }
}

$header-font-family: 'Inter', sans-serif;
$header-font-weight: 900;
$topbar-background: transparent;

@import 'foundation-core';
@import 'omeka';

[type="submit"], 
[type="button"],
.button {
    border-radius: 3px;
}

[disabled],
.button.disabled, 
.button[disabled],
.button.disabled:hover, 
.button[disabled]:hover {
    opacity: 1;
    background-color: $medium-gray !important;
}

header {
    box-shadow: 0 0 10px 10px rgba(0,0,0,.08);
}

body.vertical-menu {
    background-color: #fff;
}

body.vertical-menu header {
    box-shadow: none;
    background-color: #fff;
    
    a {
        color: $primary-color;
    }
}

body.vertical-menu #content {
    box-shadow: 0 0 10px 10px rgba(0,0,0,.08);
}

body.vertical-menu li:not(.active) .submenu-toggle:after {
    border-color: $primary-color rgba(0,0,0,0) rgba(0,0,0,0)
}

body.vertical-menu footer {
    box-shadow: 0 20px 10px 10px rgba(0,0,0,.08);
}

.top-bar .dropdown.menu > li:not(.active):hover > a {
    background-color: $light-gray;
}

.top-bar ul ul {
    background-color: $light-gray;

    &.is-dropdown-submenu {
        border: 0;
    }

    li:not(.is-active) a:hover {
        background-color: rgba(0,0,0,.16);
    }

    &.is-dropdown-submenu .is-dropdown-submenu {
        margin-top: 0;
    }

    &.is-dropdown-submenu .is-dropdown-submenu-parent.opens-left.is-active > a::after {
        border-color: rgba(0,0,0,0) #fff rgba(0,0,0,0) rgba(0,0,0,0);
    }
}

body.vertical-menu header .vertical.menu li a, 
body.vertical-menu header .toc-block > ul li a, 
body.vertical-menu header .toc-block ul ul li a, 
.toc-block ul body.vertical-menu header ul li a {
  padding-left: .5 * $global-padding;
  padding-right: .5 * $global-padding;
  margin: 0 (-.5 * $global-padding);
  width: calc(100% + #{$global-padding});
}

.resource-list {
    border-top: 1px solid var(--border-color);
    margin: $global-margin 0;
}

.resource-list .resource {
    border-bottom: 1px solid var(--border-color);
}

.resource .resource-link img {
    padding: 0;
    border: 0;
    box-shadow: none;
}

.preview-block .preview-header {
    border-bottom: 1px solid var(--border-color);
}

.faceted-browse-page .resource-list .resource {
    margin: $global-margin 0;
}

#categories li {
    border-bottom: 0;
}